:root {
  --titleText: #3a4374;
  --contentText: #647196;
  --headerBg: rgb(70, 130, 180);
  --cardBg: #ffffff;
  --button1: #ffffff;
  --button1Text: #f2f2ff;
  --button1hover: #c75af6;
  --button: rgb(224, 145, 50);
  --buttonText: #fefefe;
}

[data-theme="dark"] {
  --titleText: #f2f4fe;
  --contentText: #f2f4fea4;
  --headerBg: rgb(30, 144, 255);
  --cardBg: #0c0e16;
  --button1: #540974;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bodyBg);
  font-family: "Jost", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

.generalBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.general {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
}
